################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/EntropyAnalyzer/v16/Browse.VC.opendb
Debug
x64
EntropyAnalyzer\x64
EntropyAnalyzer\Debug
EntropyAnalyzer\Release
WaterLayersDefiner\x64
WaterLayersDefiner\Debug
WaterLayersDefiner\Release
