################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/EntropyAnalyzer/v16/Browse.VC.opendb
